<button
  class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none"
  type="button"
  (click)="toggle()"
>
  <svg
    class="w-5 h-5"
    aria-hidden="true"
    fill="currentColor"
    viewbox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
    />
  </svg>
</button>
<div
  class="z-10 w-32 bg-white rounded shadow-lg"
  [ngClass]="{
    'flex flex-col absolute right-0 top-4': isOpen,
    hidden: !isOpen
  }"
>
  <ul class="py-1 text-sm text-gray-700">
    <li>
      <a class="block py-2 px-4 hover:bg-gray-100" (click)="edit()">Editar</a>
    </li>
    <li>
      <a class="block py-2 px-4 hover:bg-gray-100" (click)="delete()"
        >Eliminar</a
      >
    </li>
  </ul>
</div>
